body{
    background-color: rgb(223, 223, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
.container{
    width: 100%;
    margin: 0;
}
/* fine common*/

/*header*/
header{
    height: 100px;
    background-size: 30%;
    background-color: white;
}

#logo{
    margin: 10px;
    height: 60px;
    vertical-align: middle;
}

#scritta{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}
/*fine header*/

/*main*/
main{
    margin: 70px 200px;
    padding: 0;
    box-sizing: border-box;
    background-color: white;    
}

section{
    margin: 30px;    
}

.row{
    display: inline;
    vertical-align: middle;
}

span{
    margin: 30px;
    vertical-align: middle;
}

.tondo{
    height: 50px;
    width: 500px;
    border-radius: 100%;
    border: 1px solid green;
}

.tondo-red{
    height: 50px;
    width: 500px;
    border-radius: 100%;
    border: 1px solid red
}

#first-button{
    
    border-radius: 7px;
}

.blu{
    background-color: blue;
    color: white;  
}

.white{
    background-color: white;
    color: grey;
}

.linea{
    color: rgb(223, 223, 223);
    border: 2px solid;

}

button{
    width: 100px;
    height: 30px;
    border-radius: 100px;
    display: inline-block;
}

.viola{
    background-color: purple;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}

.arancio{
    background-color: rgb(250, 169, 18);
    color: white;
}

.rosa{
    background-color: rgb(224, 75, 175);
    color: white;
}

.lime{
    background-color: rgb(176, 236, 34);
    color: white;
}

/*fine main*/