body{
    background-color: grey;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
.container{
    width: 100%;
    margin: 0;
}
/* fine common*/

/*header*/
header{
    height: 100px;
    background-size: 30%;
    background-color: white;
}

#logo{
    margin: 10px;
    height: 60px;
    vertical-align: middle;
}

#scritta{
    display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}
/*fine header*/

/*main*/

/*fine main*/